html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}

header {
    background-color: #CEF6E3;
    height: 380px;
    border-bottom: 3px solid #D8D8D8;
}

.header-logo {
    text-align: center;
    font-size: 50px;
    color: #F5A9A9;
    padding: 20px;
}

.tirol-top {
    text-align: center;
}

.tirol-top #btn {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}

.tirol-top p {
    color: #F5A9A9;
    margin-top: 15px;
}

.main {
    background-color: #A9F5E1;
    height: 450px;
    padding-top: 30px;
}

.main-text {
    background-color: #f6bfbc;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 35px;
}

#unsei-text {
    font-size: 50px;
    width: 100%;
    margin: 150px auto;
    color: #f09199;
    text-align: center;
}


footer {
    background-color: #04B486;
    height: 200px;
}
